* {
  background-color: #f6f6f6;

  color: #303030;
  font-family: sans-serif;
  font-weight: 900;
  font-size: 16px;

  scrollbar-width: thin;
  scrollbar-color: #000 #0000;

  margin: 0;
  padding: 0;
}

body{
  padding: 20px;
}

.title{
  text-align: center;
  font-size: 2.5rem;

  background-color: #0f0f0f;

  color: #f0f0f0;
  
  margin: 20px auto;
  padding: 10px 20px;

  border-radius: 50px;
  width: fit-content;

  box-shadow: 0 10px 10px -10px #000000;
}

.super {
  font-size: 3rem;
}

h1, .h1 {
  font-size: 2.3rem;
}

h2, .h2 {
  font-size: 2.1rem;
}

h3, .h3 {
  font-size: 1.9rem;
}

h4, .h4 {
  font-size: 1.7rem;
}

h5, .h5 {
  font-size: 1.5rem;
}

h6, .h6 {
  font-size: 1.3rem;
}

.h7 {
  font-size: 1.1rem;
}

.h8 {
  font-size: 0.9rem;
}


.idesc {
  background-color: #ffffff;

  max-width: 75rem;

  margin: 0 auto 60px auto;

  border-radius: 50px;
  border: #0000 solid 0;
  
  box-shadow: -10px 15px 15px -10px #0001;
}

.mini-desc {
  background-color: #ffffff;

  max-width: 50rem;

  margin: 0 auto 60px auto;

  border-radius: 50px;
  border: #0000 solid 0;
  
  box-shadow: -10px 15px 15px -10px #0001;
}

.ilegend {
  line-height: 1;
  
  background-color: #0f0f0f;

  border-radius: 50px;

  margin: 0 20px;
  padding: 10px 20px;

  color: #f0f0f0;

  box-shadow: 0 10px 10px -10px #000000;
}

.ibox {
  box-sizing: border-box;

  background-color: #0000;

  padding: 20px;

  text-align: justify;
}

.ilink {
  background-color: #0062ff;
  padding: 15px 0px;

  margin: 20px auto;

  border-radius: 200px;
  border-radius: 50px;
  width: fit-content;
}

.link {
  color: #fff;

  padding: 20px;
  background-color: #0000;

  text-decoration: none;

  margin: auto;

  width: 10px;
}


.itable {
  box-sizing: border-box;

  width: 70%;

  background-color: #0000;

  border-spacing: 0px;
  margin: auto;
  margin-bottom: 20px;

  border-radius: 21px;

  box-shadow: 0px 10px 35px -30px #000;
}

.iheader {
  background-color: #e1e1e1;
  padding: 10px;
}

.icol {
  background-color: #f6f6f6;
  text-align: center;
  padding: 10px;
}

.ibord-tl {
  border-top-left-radius: 20px;
}

.ibord-tr {
  border-top-right-radius: 20px;
}

.ibord-bl {
  border-bottom-left-radius: 20px;
}

.ibord-br {
  border-bottom-right-radius: 20px;
}

.icont {
  box-sizing: border-box;

  margin: 40px auto 40px auto;
  padding: 1% 6.5%;

  width: 95%;
  
  border-radius: 30px;

  background: #fff;

  box-shadow: 0px 7px 35px -20px #0009;
}

.ivid, .img {
  margin-top: 3px;

  border-radius: 10px;
  width: 100%;
}